<section class="container block block--work">
  <header class="block--work__header">
    <h2>My Recent Work</h2>
    <p>
      Here are a few past projects I've worked on. Want to see more?
      <a href="#"><em>Email me</em></a>
    </p>
  </header>
  <div class="grid grid--cols-3 block--work__work-container">
    <div class="card card--secondary work">
      <img
        src="https://mattfarley.ca/img/projects/wfdesignbuild.png"
        alt=""
        class="work__image"
      />
      <div class="work__content">
        <p class="work__text">
          High-end, custom residential renovaters serving Fraser Valley
          homeowners.
        </p>
        <button class="btn btn--accent work__btn">Visit now!</button>
      </div>
    </div>

    <div class="card card--secondary work">
      <img
        src="https://mattfarley.ca/img/projects/wfdesignbuild.png"
        alt=""
        class="work__image"
      />
      <div class="work__content">
        <p class="work__text">
          High-end, custom residential renovaters serving Fraser Valley
          homeowners.
        </p>
        <button class="btn btn--accent work__btn">Visit now!</button>
      </div>
    </div>

    <div class="card card--secondary work">
      <img
        src="https://mattfarley.ca/img/projects/wfdesignbuild.png"
        alt=""
        class="work__image"
      />
      <div class="work__content">
        <p class="work__text">
          High-end, custom residential renovaters serving Fraser Valley
          homeowners.
        </p>
        <button class="btn btn--accent work__btn">Visit now!</button>
      </div>
    </div>
  </div>
  <img src="images/girl-standing.svg" alt="" class="block--work__image" />
</section>
