<footer class="footer">
  <img src="images/logo.png" alt="" class="footer__logo" />
  <p class="footer__quote">
    <em>“</em>Living, learning, <em>&</em> leveling up one day at a time.<em
      >”</em
    >
  </p>
  <section class="grid grid--cols-4 footer__social--container">
    <img src="images/instagram.svg" alt="" class="footer__social" />
    <img src="images/instagram.svg" alt="" class="footer__social" />
    <img src="images/instagram.svg" alt="" class="footer__social" />
    <img src="images/instagram.svg" alt="" class="footer__social" />
  </section>
  <span class="footer__copyr">Handcrafted by me <em>©AuJezus</em></span>
</footer>
