<div class="card card--primary skill">
  <header class="skill__header">
    <div class="skill__logo-container">
      <img src="images/website-logo.svg" alt="" class="skill__logo-image" />
    </div>
    <h3>Web Developer</h3>
    <p>
      I like to code things from scratch, and enjoy bringing ideas to life in
      the browser.
    </p>
  </header>
  <div class="skill__body">
    <section class="skill__text-section">
      <p><em>Languages I speak:</em></p>
      <p>HTML, Pug, Slim, CSS, Sass, Git</p>
    </section>
    <section class="skill__text-section">
      <p><em>Dev Tools:</em></p>
      <ul class="list">
        <li>Atom</li>
        <li>BitBucket</li>
        <li>Bootstrap</li>
        <li>Bulma</li>
        <li>Codekit</li>
        <li>Github</li>
        <li>Surge</li>
        <li>Terminal</li>
        <li>Vercel</li>
      </ul>
    </section>
  </div>
</div>
